<!DOCTYPE html>
<html>
  <head>
    <title>Hi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hiiii</h1>
    <p>Welcome to express</p>
  </body>
</html>
